.accordion {
  width: 100%;
  margin: 10px 0;
  &__btn {
    position: relative;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
    border: 1px solid #42b983;
    border-radius: 20px;
    transition: all 0.3s ease;
    &::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #2c3e50;
      transition: transform 0.3s ease;
    }
    &.is-open {
      border-radius: 20px 20px 0 0;
      background: #42b983;
      &::before {
        transform: translateY(-50%) scale(-1);
      }
    }
  }
  &__content {
    position: relative;
    padding: 0 20px;
    text-align: left;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid #42b983;
    border-radius: 0 0 20px 20px;
    &.is-open {
      opacity: 1;
      height: unset;
      padding: 10px 20px;
    }
    &-text {
      max-width: 70%;
    }
    &-image {
      position: absolute;
      top: 20px;
      right: 20px;
      max-width: 100px;
    }
    &-list {
      list-style: circle;
      &-item {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 23px;
          width: 7px;
          height: 7px;
          background: #42b983;
          animation: animRotate 5s infinite forwards;
        }
        &-content {
          flex-basis: 70%;
        }
        &-image {
          max-width: 250px;
          object-fit: contain;
          &--dark {
            background: #2c3e50;
          }
        }
      }
    }
  }
}

@keyframes animRotate {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}